@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply lg:text-7xl;
    @apply md:text-6xl;
    @apply sm:text-5xl;
  }
  h2 {
    @apply text-4xl;
    @apply lg:text-6xl;
    @apply md:text-5xl;
    @apply sm:text-4xl;
  }
  h3 {
    @apply text-3xl;
    @apply lg:text-5xl;
    @apply md:text-4xl;
    @apply sm:text-3xl;
  }

  p {
    @apply text-lg;
    @apply lg:text-xl;
    @apply md:text-lg;
    @apply sm:text-base;
  }
}

:root {
  --gray-900: #0c0c0d;
  --gray-800: #131313;
  --gray-700: #272727;
  --green-500: #5fb9b0;
  --gray-400: #6f6f6f;
  --gray-300: #c8c8c8;
  --purple-300: #b292ff;
  --purple-100: #C69AFF;
  --purple-400: #9F53FF;
  --purple-500: #6104D6;
  --white: #fff;
  --gray-gradient: linear-gradient(90deg, #232323 0%, #434343 49%, #232323 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-900: #0c0c0d;
    --gray-800: #131313;
    --gray-700: #272727;
    --gray-400: #6f6f6f;
    --gray-300: #c8c8c8;
    --green-500: #5fb9b0;
    --purple-300: #b292ff;
    --purple-100: #C69AFF;
    --purple-400: #9F53FF;
    --purple-500: #6104D6;
    --white: #fff;
  }
}

body {
  color: var(--gray-400);
  background: var(--gray-900);
  font-family: "Raleway", sans-serif;
}
